* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    position: absolute;
    width: 568.61px;
    height: 642.8px;
    top: 157px;
    left: 1056px;
    width: 569px;
    height: 643px;
    /* UI Properties */
    background: #1A1A1AD4 0% 0% no-repeat padding-box;
    opacity: 1;
}

.cover {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 590px;
    /* UI Properties */
    background: transparent url('img/Path 15.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}

.formBox {

    /* Layout Properties */
    margin-top: 75px;
    margin-right: 75px;
    width: 418px;
    height: 428px;
    /* UI Properties */
    opacity: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    display: flex;
    width: 417.5px;
    height: 252px;
    flex-direction: column;
    justify-content: space-between;



}

@font-face {
    font-family: "heebo-black";
    src: url(Heebo-Black.ttf);

}

@font-face {
    font-family: "heebo-regular";
    src: url(Heebo-Regular.ttf);
}

@font-face {
    font-family: "heebo-bold";
    src: url(Heebo-Bold.ttf);
}


h1 {
    text-align: right;
    font: normal normal 900 36px/53px "Heebo-black";
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

p {
    text-align: right;
    font: normal normal normal 20px/29px "Heebo-regular";
    letter-spacing: 0px;
    color: #F9F9F9;
    opacity: 1;


}

label {
    font-family: heebo-bold;
    font-size: 16px;
}

input {
    width: 417.5px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D31C75;
    opacity: 1;
}



.submit {
    background-color: #D31C75;
    width: 166px;
    height: 50px;
    font-family: heebo-bold;
    font-size: 22px;
    color: #FFFFFF;


}

@media (max-width:370px) and (max-height:658px) {



    .container {
        position: absolute;
        top: 89px;
        left: 37px;
        width: 299px;
        height: 441px;
        /* UI Properties */
        background: #1A1A1AD4 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .cover {
        /* Layout Properties */
        top: 0px;
        left: 0px;
        width: 370px;
        height: 213px;
        /* UI Properties */
        background: transparent url('img/Path 15.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        opacity: 1;
    }

    .formBox {

        /* Layout Properties */
        margin-top: 42px;
        margin-right: 35px;
        width: 230px;
        height: 349px;
        /* UI Properties */
        opacity: 1;
        /* UI Properties */
        opacity: 1;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form {
        display: flex;
        width: 230px;
        height: 180px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 22px;


    }

    h1 {
        width: 146px;
        height: 67px;
        /* UI Properties */
        text-align: center;
        font: normal normal 900 25px/30px "Heebo-black";
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin: auto;

    }

    p {
        /* Layout Properties */
        top: 211px;
        left: 71px;
        width: 229px;
        height: 66px;
        /* UI Properties */
        text-align: center;
        font: normal normal normal 15px/22px "Heebo-regular";
        letter-spacing: 0px;
        color: #F9F9F9;
        opacity: 1;

    }

    label {
        text-align: right;
        font: normal normal bold 14px/21px "Heebo-bold";
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    input {
        width: 230px;
        height: 28px;
        /* UI Properties */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D31C75;
        opacity: 1;
    }



    .submit {
        width: 76px;
        height: 33px;
        /* UI Properties */
        background: #D31C75 0% 0% no-repeat padding-box;
        opacity: 1;
        text-align: center;
        font: normal normal bold 15px/20px Heebo-bold;
        letter-spacing: 0.23px;
        color: #FFFFFF;
        opacity: 1;
    }
}